<div data-role="page" data-theme="a">
  
  <div data-role="header" data-position="inline">
    <h1>Registered users </h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
    <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
     Logout
    </a>
  </div>

  <div data-role="content" >
    <div>
      <ul data-role="listview" data-split-icon="delete" data-split-theme="d">
      <% @users.each do |user| %>
          <li ><h3></h3><a href="<%=url_for :action => :user_dashboard,:query => {:name=>user} %>">
            <img src="\public\images\rcm\user-icon.png" height="95%"/>
            <h3></h3>
            <div style="padding:12px 56px 0px 0px;font-size:17px;"><%= user %></div>
            </a>
            <h1></h1>
            <a href="<%=url_for(:action => :delete ,:query => {:name=>user} )%>">
            Delete</a>
          </li>
      <% end %>
      </ul>
  </div>
  </div>

</div>
