<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @ping.user %></h1>
    <a href="<%= url_for :action => :show, :id => @ping.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @ping.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @ping.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="ping[user]" class="fieldLabel">User</label>
            <input type="text" id="ping[user]" name="ping[user]" value="<%= @ping.user %>" <%= placeholder( "User" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
