<div data-role="page" data-theme="a">

	<div data-role="header" data-position="inline">
    <h1>Users Ping</h1>
     <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
      Back
       </a>
       <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
            Logout
           </a>
	</div>

  <div data-role="content">
       <form method="POST" action="<%= url_for :action => :ping_form %>">
      <div  data-role="fieldcontain">
        <fieldset data-role="controlgroup">
          <legend>Choose users to ping:</legend>
          <%i=1%>
            <% @users.each do |user| %>
                <input type="checkbox" name="<%=user%>" id="checkbox-<%=i%>" class="custom" />
                  <label for="checkbox-<%=i%>"><%= user %></label>
                  <%i+=1%>
            <% end %>
          </fieldset>
       </div>
       <input type="submit" value="Ping"/>
       </form>
  </div>

</div>
