<div data-role="page" data-theme="a">
	<div data-role="header" data-position="inline" >
		<h1>Dashboard</h1>
	</div>

	<div data-role="content" >
    <div class="ui-grid-b">
        <div class="ui-block-a"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Info ,:action => :index %>" ><img src="\public\images\rcm\license-icon.png" width="50px" height="50px"/><div>License</div></a>
        </div></div>
        <div class="ui-block-b"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Users ,:action => :index %>"  ><img src="\public\images\rcm\Users-icon.png"width="50px" height="50px"/><div>Users</div></a>
        </div></div>
        <div class="ui-block-c"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Users ,:action => :new %>"  ><img src="\public\images\rcm\add-user-icon.png" width="50px" height="50px"/><div>Create</div></a>
        </div></div>
        
        <div class="ui-block-a"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Ping ,:action => :index %>" ><img src="\public\images\rcm\send msg.png" width="50px" height="50px"/><div>SendMsg</div></a>
        </div></div>
        <div class="ui-block-b"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:Source ,:action => :source_list %>" ><img src="\public\images\rcm\db-source-icon.png" width="50px" height="50px"/><div>Source</div></a>
        </div></div>
        <div class="ui-block-c"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :controller=>:RhoMonitor ,:action => :get_adapter %>" ><img src="\public\images\rcm\adaptor-icon.png" width="50px" height="50px"/><div>Adapter</div></a>
        </div></div>
        
        <div class="ui-block-a"><div class="ui-bar " style="height:100px">
        <a href="#"><img src="\public\images\rcm\Run-icon.png" width="50px" height="50px"/><div>Ping</div></a>
        </div></div>
        <div class="ui-block-b"><div class="ui-bar" style="height:100px">
        <a href="<%= url_for :controller=>:RhoMonitor ,:action => :reset %>" ><img src="\public\images\rcm\reset-icon.png" width="50px" height="50px"/><div>Reset</div></a>
        </div></div>
        <div class="ui-block-c"><div class="ui-bar " style="height:100px">
        <a href="<%= url_for :action => :logout %>"><img src="\public\images\rcm\logout-icon.png" width="50px" height="50px"/><div>Logout</div></a>
        </div></div>
      </div>
     
</div>
</div>