<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>License Info</h1>
    <a href="<%= Rho::RhoConfig.dashboard_path %>" class="ui-btn-left" data-icon="back" >
     Back
    </a>
    <a href="<%= url_for :controller=>:RhoMonitor,:action => :logout %>" class="ui-btn-right" >
     Logout
    </a>
  </div>

  <div data-role="content" >
      <style>
      ul,li{
        list-style:none;
      }
      ul{
        overflow:hidden;
        padding-left:1em;
        padding-right:1em;
      }
      ul li a{
        text-decoration:none;
        color:#000;
        background:#ffc;
        display:block;
        height:7em;
        width:5em;
        padding: 9px;
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        -moz-transition:-moz-transform .15s linear;
        -o-transition:-o-transform .15s linear;
        -webkit-transition:-webkit-transform .15s linear;
      }
      ul li{
        margin:10px;
        float:left;
      }
      ul li h2{
        font-size:100%;
        font-weight:bold;
        //padding-bottom:5px;
        //text-align:center;
      }
      ul li p{
        font-family: arial,sans-serif;
        font-size:100%;
      }
      ul li a{
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -moz-transform:rotate(-6deg);
      }
      ul li:nth-child(even) a{
        -o-transform:rotate(4deg);
        -webkit-transform:rotate(4deg);
        -moz-transform:rotate(4deg);
        position:relative;
        top:5px;
        background:#cfc;
      }
      ul li:nth-child(3n) a{
        -o-transform:rotate(-3deg);
        -webkit-transform:rotate(-3deg);
        -moz-transform:rotate(-3deg);
        position:relative;
        top:-5px;
        background:#ccf;
      }
      ul li:nth-child(5n) a{
        -o-transform:rotate(5deg);
        -webkit-transform:rotate(5deg);
        -moz-transform:rotate(5deg);
        position:relative;
        top:-10px;
      }
      ul li a:hover,ul li a:focus{
        box-shadow:8px 8px 7px rgba(0,0,0,.7);
        -moz-box-shadow:8px 8px 7px rgba(0,0,0,.7);
        -webkit-box-shadow: 8px 8px 7px rgba(0,0,0,.7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        position:relative;
        z-index:5;
      }
      </style>
      <ul>
          <li>
            <a href="#">
              <h2>Licensed To</h2>
              <p><%=@license%></p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Available</h2>
              <p><%=@available%></p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Total Devices</h2>
              <p><%=@total%></p>
            </a>
          </li>
        <li>
            <a href="#">
              <h2>Issued on</h2>
              <p><%=@issued_date%></p>
            </a>
          </li>
      </ul>
  </div>
</div>

