<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @source.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @source.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="source[user]" class="fieldLabel">User</label>
            <input type="text" id="source[user]" name="source[user]" <%= placeholder("User") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
